#KalturaFooter {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
}

.footer-section {
  background-color: #333;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 14px;
}
.footer-section h5 {
  font-size: 14px;
  font-weight: bold;
}
.footer-headings.footer-heading-margin {
  margin-top: 44px;
}
.copyright-container {
  margin-top: 30px;
  color: #ccc;
}


.footer-links {
  display: block;
  margin-bottom: 12px;
  font-family: proxima-nova, sans-serif;
  color: #ccc;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.footer-headings {
  font-family: proxima-nova, sans-serif;
  color: #e7e7e7;
}

.social-div {
  color: #ccc;
  margin-top: 26px;
  margin-right: 38px;
}

.container.footer-container {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.sub-footer-links {
    margin-top: 33px;
    margin-right: 0px;
    margin-left: 26px;
    float: right;
    font-family: proxima-nova, sans-serif;
    color: #ccc;
    letter-spacing: 1.1px;
    text-decoration: none;
    text-transform: none;
}

.footer-copyright {
  font-weight: 700;
}

body.spaced-for-kaltura-nav {
  padding-top: 46px;
}
#KalturaNav {
  min-height: 46px;
}
#KalturaNav.navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}

#KalturaNav .navbar-brand {
  padding-top: 0px;
}

@media (max-width: 305px) {
  #KalturaNav .navbar-brand img {
    display: none;
  }
}
@media (max-width: 991px) {
  #KalturaNav .navbar-header {
    float: none;
  }
}

#KalturaNav .navbar-brand {
  padding-right: 20px;
}
#KalturaNav a {
  background-color: #fff !important;
  color: #333 !important;
}
#KalturaNav.navbar button.navbar-toggle,
#KalturaNav.navbar li.navbar-link > a {
  color: #333 !important;
  background-color: #fff !important;
  font-size: 14px;
}

#KalturaAuthLinks li.navbar-link > a {
  font-weight: bold;
}

#KalturaBlogContent a {
  color: #fff;
}

nav li.workflows-link {
  display: none;
}

.panel-heading[class] {
  height: 68px;
  border-bottom: none;
}
.panel-heading .heading-icon[class] {
  top: 40px;
  left: 11px;
  width: 50px;
}
.panel-heading .heading-icon[class] .fa {
  margin-top: 10px;
}
.panel-heading .heading-title[class] {
  padding-left: 0px;
  text-align: center;
}
.panel-body[class] {
  padding-top: 30px;
}
.panel-heading .heading-underline[class] {
  left: 70px;
  bottom: -2px;
  border-width: 2px;
  border-color: #1ac1fc;
}
.contact-box .panel-heading .heading-underline[class] {
  border-color: #fdd830;
}

.step-progress-horizontal.bg-primary,
.step-progress-horizontal .bg-primary {
  background-color: #fff;
}
.step-progress-horizontal .step-progress-circle,
.horizontal-line {
  border-color: #ccc !important;
  color: #ccc !important;
}
.step-progress-horizontal .step-progress-step.active .step-progress-circle,
.step-progress-horizontal .step-progress-step:hover .step-progress-circle {
  color: #666 !important;
  border-color: #333 !important;
  border-width: 2px !important;
  height: 30px !important;
  width: 30px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

.parameters-title {
  background-color: #f5f5f5 !important;
}

.parameters-title h4, .sample-code-title h4 {
  text-decoration: underline;
}

/* Move learn more button to the right */
.step-subtitle .dropdown.learn-more {
  float: right;
}
.step-subtitle .dropdown.learn-more a.dropdown-toggle {
  color: #5e5e5e;
  background-color: #fff;
  border-color: #bababa;
  border-radius: 4px;
}
.step-subtitle .dropdown.learn-more .dropdown-menu {
  left: auto;
  right: 0;
}

.parameters-title,
.sample-code-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sample-code-box,
.parameters-box {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#KalturaSidebar {
  display: none;
}

@media (min-width: 992px) {
  body.ui-workflows.spaced-for-kaltura-sidebar app .container-fluid,
  body.ui-workflows.spaced-for-kaltura-sidebar .loading-screen,
  body.ui-workflow.spaced-for-kaltura-sidebar app .container-fluid,
  body.ui-workflow.spaced-for-kaltura-sidebar .loading-screen {
    margin-left: 330px;
  }
  body.ui-workflows.spaced-for-kaltura-sidebar app .main-container,
  body.ui-workflows.spaced-for-kaltura-sidebar .loading-screen,
  body.ui-workflow.spaced-for-kaltura-sidebar app .main-container,
  body.ui-workflow.spaced-for-kaltura-sidebar .loading-screen {
    min-height: 1000px !important;
  }

  body.ui-workflows #KalturaSidebar,
  body.ui-workflow #KalturaSidebar {
    display: block;
    position: absolute;
    left: 20px;
    top: 24px;
    width: 300px;
    font-size: 14px;
  }
  body.spaced-for-kaltura-nav #KalturaSidebar {
    top: 72px;
  }

  #KalturaSidebar .sidebar-content {
    background-color: #999;
    padding: 20px;
    width: 275px;
    float: left;
    border-radius: 4px;
  }

  #KalturaSidebar .sidebar-button {
    float: right;
  }
  #KalturaSidebar .sidebar-button a {
    font-size: 22px;
    color: #999;
  }
  #KalturaSidebar .sidebar-button a.show-sidebar {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    background-color: #999;
  }

  #KalturaSidebar .sidebar-content,
  #KalturaSidebar .section a,
  #KalturaSidebar .section h4 {
    color: #fff;
  }

  #KalturaSidebar hr {
    margin-right: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #KalturaSidebar h4 {
    margin-top: 0px;
    font-size: 16px;
  }

  #KalturaSidebar .section {
    margin-bottom: 50px;
  }
  #KalturaSidebar .light-section {
    background-color: rgba(215, 215, 215, .5);
    color: #333;
    border: 1px solid #979797;
    height: 168px;
    margin-bottom: 20px;
    padding: 20px;
  }
}

.breadcrumbs .fa-lock,
.breadcrumbs .fa-unlock {
  display: none;
}
.discussion-frame {
  border: none !important;
}
.discussion .discussion-link {
  display: none;
}

