doctype html
html
  head
    include ./head
  body
    p
      span A discussion for this API docs page wasn't started yet. 
      a(href="/discussion/" + slug + "/create?title=" + title target="_blank") Click here to start a discussion now.

