#KalturaSignInModal .partner-id-input {
  display: none;
}

div.code-examples div.highlight pre { 
	margin: 1px; 
	margin-bottom: 1em;
}

ul.code-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;
    background-color: #f1f1f1;*/
}

/* Float the list items side by side */
ul.code-tab li {float: left;}

/* Style the links inside the list items */
ul.code-tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
    margin-right: 4px;
}

/* Change background color of links on hover */
ul.code-tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.code-tab li a:focus {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}
img {
  max-width:100%; 
}
